body{
    text-align: center;
    
    background: #CAC531;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F3F9A7, #CAC531);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F3F9A7, #CAC531); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

h1{
    padding-top: 80px;
    padding-bottom: 200px;
    font-size:60px;
}

.container{
    background-color: aliceblue;
    height: 200px;
    text-align: center;
}

.container span{
    font-size: 40px;
    display: block;
}

.btn1{
    color:aliceblue;
    background-color: #390b90;
    font-size: 20px;
    border-radius: 5px;
}

.btn2{
    color:aliceblue;
    background-color: #390b90;
    font-size: 20px;
    border-radius: 5px;
}

